<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Fragment</title>
</head>
<body>
<footer>
    <p>&copy; 2025 Maristengymnasium Fürstenzell by <a href="https://github.com/Erfinden" target="_blank" rel="noopener noreferrer">a student</a></p>
    <p>Alle Rechte vorbehalten. All rights reserved.</p>
    <p><a href="https://www.instagram.com/mgf.erfinden/" target="_blank" rel="noopener noreferrer">📸 Instagram @mgf.erfinden</a></p>
    <br>
    <p>Bei Fragen zu den Erfindungen oder bei Website-Problemen sprechen Sie uns gerne einfach an!</p>
    <a href="https://mgf.de/wahlfaecher/erfinden/">mgf.de</a>
    <a href="https://mgf.de/impressum/">Impressum</a>
    <a href="https://mgf.de/datenschutzerklaerung-2/">Datenschutzerklärung</a>

    
</footer>
</body>
</html>
